html, body {
    height: 100%;
    width: 100%;
}

.dashboard {
}

.nav-height {
    height: 5%;
}
.courses {
    margin-top: 10px;
    margin-left: 10px;
    height: 800px;
}

.course_board {
    /* background-color: blue; */
    width:80%;
}

.wide {
    width: 100%;
}

.nopadding {

}

.padding-left {
    margin: 5px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.Title {
    position: absolute;
    background: url(image.png);
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

/* Red Login buttons */

.log_in_box {   
    /* Rectangle */

    position: absolute;
    width: 30%;
    height: 40%;

    background: #FCFCFC;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.log_in_box_create {   
    /* Rectangle */

    position: absolute;
    width: 30%;
    height: 40%;

    background: #FCFCFC;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.red-button-create {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 11.165%;
    height: 5%;
    background-color: #EF817A;
    color: #FFFFFF;
    
}
.red-button {
    width: 40%;
    background-color: #EF817A;
    color: #FFFFFF;
    height: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.input-boxs-1 {
    width: 70%;
    padding-bottom: 2%;
}

.fill { 
    width: 20%;
    background-color: #E3E3E3;
}

.hamburger {
    position: absolute;
}

.main_area {
    background-color: red;
}