html, body {
    height: 100%;
    width: 100%;
}

hr {
    width: 100%;
}

.wide {
    width: 100%;
}

.padding-left {
    margin: 5px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

/* Background image for the login page  */
.Title {
    position: absolute;
    background: url(image.png);
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* log in box for the main page */
.log_in_box {   
    /* Rectangle */

    position: absolute;
    width: 35%;
    height: 50%;

    background: #FCFCFC;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/* Buttons for the login pages */
.red-button-create {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 11.165%;
    height: 5%;
    background-color: #EF817A;
    color: #FFFFFF;
    
}
.red-button {
    width: 40%;
    background-color: #EF817A;
    color: #FFFFFF;
    height: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.input-boxs-1 {
    width: 70%;
    padding-bottom: 2%;
}

.fill { 
    width: 20%;
    height: 100%;
    background-color: #E3E3E3;
}

.hamburger {
    position: absolute;
}


.course_button_div {
    height: 100%;
}

.course_button {
    width: 100%;
    color: white;
    padding: 4%;
    background: #7C7AEF;
}

/* account_settings button at the bottom of course panel */
.account_settings {
    position: absolute;
    bottom: 2%;
    left: 10%;
}

.account_settings:hover {
    cursor: pointer;
    text-decoration: underline;
}

.side-panel {
    height: 100%;
}

/* Dashboard buttons across the top */
.center-buttons {
    align-content: center;
    text-align: center;
    background-color: #E3E3E3;
}

.nav-btns {
    width: 80%;
    background: #7C7AEF;
    color: white;
}